body, #container {
    max-width: 80%;
    margin: 0 auto;
}

#container {
    background-color: lightblue;
    margin: unset;
    width: 100%;
}

#quiz-title {
    width: 65%;
    display: inline-block;
    text-align: center;
    font-size: 40px;
}

#saladelia-title {
    display: inline-block;
    width: 34%;
    /* margin: 20px 20px 0px 0px; */
}

#title {
    background-color: lightblue;
}

h4 {
    font-size: 22px;

}

img {
    width: 150px;
    height: 150px;
}

.answer {
    width: 35%;
    display: inline-block;
    border: 1px solid black;
    height: 200px;
    padding: 20px;
    margin: 5px;
}

answer:hover {
    background-color: blue;
}

